*{
    box-sizing: border-box;
    margin: 0px;
    padding: opx;
}
body{
    font-family: Georgia;
}


/*on screen that are 1024px wide or lesser*
@media screen and (min-width: 769px) {*/

    
    .nav_bar{
        display: flex;
        justify-content: space-between;
        background-color: orange;
        padding: 12px 60px;
        padding-bottom: 2px;
        padding-top: 5px;
    
        
    }
    nav a{
        color: black;
        font-size: 17px;
        text-decoration: none;
        
    }
    .menu ul{
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    .menu ul li{
        text-transform: uppercase;
        padding-top: 20px;
    }
    .menu-wrap .toggler{
        display: none;
    }
    .menu-wrap .menu > div > div > ul > li{
        list-style: none;
    }
    .menu li a:hover {
        background-color:#f32020;
        color: white;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 5px;
        box-shadow: 1px 1px 30px rgb(0 0 0 / 10%);
    }
    .sub-menu{
        display: none;
    
    } 
    .sub-menu ul li{
    list-style: none;
    
    }
    .sub-menu ul li a{
        color: blak;
    }
      .menu ul li:hover .sub-menu{
        display: block;
        position: absolute;
        background-color: orange;
        margin-top: 2px;
        margin-left: -100px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 20px;
        border-radius: 5px;
    
    }
    .menu-wrap .menu ul li:hover .sub-menu ul{
        display: inline-block;
    }

    .menu-wrap .menu ul li:hover .sub-menu ul li{
        border-bottom: 1px  black;
    }

    
    
    /* section 1 */
    .section_1 {
        padding-top: 50px;
        padding-bottom: 20px;
        text-align: center;
        background-image: url(./gif2.gif);
        background-size:au;
        background-repeat: repeat;
        
    }
    .section_1 h2 {
        background-color: #f70606;
        margin: 2%  2% ;
        margin-left: 27%;
        margin-right: 27%;
        border-radius: 10px;
        text-transform: uppercase;
        font-style: italic;
        font-size:50px;
        letter-spacing: 15px;
        color: black;
    }
    .section_1 p{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bolder;
        color: black;
    }
    /* end of section 1*/

        /* section 2*/
    .section2_main{
        display: flex;
        justify-content: space-around;
        background-color:#f70606;
        padding-top: 50px;
        padding-bottom: 50px;
        color: yellow;
        padding-left: 60px;
        font-size: 23px;
        margin-top: 0px;
    }
    .section2_main h2{
        line-height: 60px;
    }
    .section2a{
        margin-left: 25%;
        margin-right: 8%;
    }
    .section2b{
        margin-left: 5%;
        margin-right: 25%;
    }
        /* end of section2*/

    /*section3*/
.section3{
    text-align: center;
    padding-top: 50px;
    background-image: url(./shop.jpeg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid #f70606;
}
.section3 p{
    color: red;
}
.section3 h2{
    font-weight: bolder;
    font-size: 30px;
    margin: 50px 50px;
    color: red;
}
.section3 h3{
    color: red;
    font-weight: bolder;
}
.section3b {
    margin-bottom: 70px;
}

@media  (max-width: 568px){
    .section_1, .section2_main, .section3{
        background-attachment: scroll;
    }
}

